body{
    margin: 0;
    color: white;
}

.hidden {
    display: none;
}

#char-img{
    height: 350px;
    width: 350px;
    position: relative;
    bottom: 0px;
    border-radius: 50%;

}

main {
    background-image: url('images/woods1.jpg');
    overflow: none;
    min-height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


#char-name{
   color: red;
}

#proficientcies-list{
color: white;
display: flex;
flex-direction: column;
flex-wrap: wrap;
height: 300px;
width: 100px;
position: absolute;
top: 675px;
left: 40rem;
font-size: 10px;
}

#spell-list{
position: absolute;
color: white;
position: relative;
display: flex;
flex-direction: column;
flex-wrap: wrap;
height: 300px;
min-width: 600px;
min-height: 100px;
top: 100px;
gap: 5px 2rem;
left: 20rem;
font-size: 10px;
overflow: none;
}

#class-select{
    position: absolute;
    top: 20px;
    left: 10px;
    height: 25px;
    border: none;
    border-radius: 5px;

}

#clone-btn{
position: absolute;
top: 0;
left: 110px;
}

#class-select-label{
position: absolute;
top: 0;
left: 10px;
}

#build-section{
    background-color: grey;
}